git init
git remote add origin https://github.com/mugebaloglu/datasette-sql-examples.git
git add .
git commit -m "Add datasette fixtures and SQL examples"
git branch -M main
git push -u origin main




